.promo {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 513px;
}

.promo__container {
  background-color: #f5f5f5;
  max-width: 1200px;
  width: calc(100% - 80px);
  height: 493px;
  margin: 20px auto 0 auto;
  box-sizing: border-box;
  position: relative;
  border: 0 solid #f5f5f5;
  border-radius: 10px;
}

.promo__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  margin: auto;
  max-width: 730px;
  text-align: center;
  padding-top: 160px;
  letter-spacing: -0.12rem;
}

.promo__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  opacity: 0.5;
  max-width: 310px;
  margin: 0;
}

.promo__link-container {
  position: absolute;
  bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 308px;
  display: flex;
  justify-content: space-between;
}

.promo__learn-more-link {
  margin-top: 110px;
  text-decoration: none;
  color: #000;
  background-color: #e8e8e8;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  width: 96px;
  height: 36px;
  text-align: center;
  transition: all 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo__learn-more-link:hover {
  transform: scale(1.05);
  opacity: 0.7;
}

@media screen and (max-width: 800px) {
  .promo {
    height: 854px;
  }

  .promo__container {
    max-width: 728px;
    height: 834px;
    align-items: center;
    flex-direction: column-reverse;
    gap: 48px;
    margin: 20px 20px 0 20px;
  }

  .promo__title {
    height: 100%;
    max-width: 680px;
    font-size: 40px;
    line-height: 1.25;
    text-align: center;
    padding-top: 355px;
  }

  .promo__description {
    text-align: center;
    max-width: 260px;
  }

  .promo__about-project {
    align-items: center;
    gap: 22px;
  }

  .promo__learn-more-link {
    margin-top: 70px;
  }
}

@media screen and (max-width: 400px) {
  .promo {
    height: 600px;
  }

  .promo__container {
    gap: 46px;
    width: 292px;
    height: 586px;
    margin: 15px 14px 0 14px;
  }

  .promo__logo {
    max-width: 210px;
    transition: all 0.1s ease;
  }

  .promo__title {
    padding-top: 220px;
    font-size: 29px;
    line-height: 1.27;
    letter-spacing: -0.03em;
    min-width: 292px;
  }

  .promo__about-project {
    gap: 26px;
  }

  .promo__learn-more-link {
    font-size: 10px;
    margin-top: 54px;
    width: 82px;
    height: 26px;
  }

  .promo__link-container {
    bottom: 18px;
    width: 100%;
    justify-content: space-evenly;
  }
}
