.navigation {
  display: flex;
  align-items: center;
  position: relative;
  justify-self: flex-end;
  flex-grow: 1;
}

.navigation__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  transition: all 0.6s ease;
  z-index: 9;
  justify-content: flex-start;
  gap: 30px;
}

.navigation__list_signup {
  position: absolute;
  top: 3px;
  right: 0;
}

.navigation__list_logged {
  gap: 20px;
}

.navigation__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigation__item_separate {
  display: flex;
  gap: 16px;
}

.navigation__item:hover {
}
.navigation__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.29;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.navigation__link:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.navigation__link_active_desktop {
  font-weight: 500;
}

.navigation__link_active_mobile {
  border-bottom: 2px solid #fff;
}

.navigation__link.navigation__link_landing {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
}

.navigation__link_signin {
  color: black;
  padding: 8px 20px;
  background-color: #3ddc84;
  border-radius: 3px;
}

.navigation__link_type_account {
  background-color: #f9f9f9;
  width: 100px;
  height: 32px;
  position: absolute;
  top: 3px;
  right: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
}

.navigation__item:first-child {
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .navigation__list {
    gap: 25px;
  }

  .navigation__container {
    display: block;
  }
  .navigation__item_separate {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
  }

  .navigation__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
  }

  .navigation__list_logged {
    gap: 28px;
    position: absolute;
    top: 0;
    flex-direction: column;
    height: 100vh;
    width: 67%;
    background-color: #fff;
  }

  .navigation__link_type_account {
    margin-top: 485px;
    z-index: 1;
    position: relative;
    align-self: flex-end;
    width: 100px;
    height: 32px;
    font-size: 14px;
    line-height: 16px;
  }

  .navigation__item:last-child {
    margin: 10px 0 90px 0;
  }

  .navigation__item:first-child {
    margin-top: 0;
  }

  .navigation__list_state_opened {
    right: 0;
    visibility: visible;
    padding-top: 162px;
  }

  .navigation__list_state_closed {
    right: -100%;
    visibility: hidden;
  }

  .navigation_state_opened {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: flex-end;
    transition: all 0.3s ease;
    z-index: 3;
  }

  .navigation_state_closed {
    position: static;
  }
}

@media screen and (max-width: 400px) {
  .navigation__list {
    gap: 14px;
  }

  .navigation__link.navigation__link_landing {
    font-size: 10px;
    line-height: 1.6;
  }

  .navigation__link_signin {
    padding: 5px 12px;
  }

  .navigation__list_logged {
    gap: 38px;
    width: 100%;
  }

  .navigation__item:first-child {
    margin-top: -17px;
  }

  .navigation__item:last-child {
    margin-bottom: 46px;
  }
  .navigation__link_type_account {
    margin-top: 345px;
  }
}
