.search {
  max-width: 1140px;
  width: 100%;
  margin: 70px 49px 70px 49px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  /* align-content: center; */
  /* padding: auto 30px auto 30px; */
  justify-items: flex-start;
  border-radius: 9px;
  background-color: #f9f9f9;
}

.search__form {
  width: 100%;
  height: 72px;
  position: relative;
  display: flex;
  align-items: center;
}

.search__input {
  width: 100%;
  text-align: left;
  border: none;
  color: #000;
  background-color: #f9f9f9;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  box-sizing: border-box;
  margin-left: 17px;
  flex-grow: 1;
}

.search__input::placeholder {
  color: #a0a0a0;
}

.search__button {
  width: 80px;
  height: 34px;
  margin-right: 20px;
  border-radius: 17px;
  border: none;
  background-image: url("../../images/find-button.svg");
  background-repeat: no-repeat;
  background-position: -20px 0;
  background-color: transparent;
  box-sizing: border-box;
  transition: all 0.3s ease;
  padding: 0;
  z-index: 2;
}

.search__button:hover {
  opacity: 0.8;
}

.search__icon {
  margin-left: 28px;
}

@media screen and (max-width: 800px) {
  .search {
    max-width: 708px;

    padding: 0;
    margin: 80px 50px 107px 50px;
  }
}

@media screen and (max-width: 400px) {
  .search {
    height: 72px;
    padding: 0 14px;
  }

  .search__input {
    text-align: left;
    font-size: 14px;
    line-height: 1.22;
    padding-left: 0;
  }

  .search__icon {
    display: none;
  }

  .search__button {
    position: relative;
    left: 142px;
    background-position: -40px 0;
  }

  .search__form::before {
    content: none;
  }
}
