.search {
  max-width: 1140px;
  width: calc(100% - 140px);
  margin: 70px auto 70px auto;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  /* align-content: center; */
  /* padding: 0 70px 0 70px; */
  justify-items: flex-start;
  border-radius: 9px;
  background-color: #f9f9f9;
  position: relative;
}

.search__form {
  width: 100%;
  height: 72px;
  position: relative;
  display: flex;
  align-items: center;
}

.search__input {
  width: 100%;
  text-align: left;
  border: none;
  color: #000;
  background-color: #f9f9f9;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  box-sizing: border-box;
  margin-left: 17px;
  flex-grow: 1;
  border-right: 1px solid #e8e8e8;
  margin-right: -105px;
  height: 40px;
}

.search__input::placeholder {
  color: #a0a0a0;
}

.search__button {
  width: 34px;
  height: 34px;
  margin-right: 108px;
  background-image: url("../../images/find-button.svg");
  /* border-radius: 17px;
  border: none;
  background-repeat: no-repeat;
  background-position: -20px 0;
  background-color: transparent;
  box-sizing: border-box; */
  transition: all 0.3s ease;
  padding: 0;
  z-index: 2;
  /* background-color: transparent; */
  border: none;
  position: relative;
  /* overflow: initial; */
}

.search__button:hover {
  opacity: 0.8;
}

.search__icon {
  margin-left: 28px;
}

@media screen and (max-width: 768px) {
  .search__input {
    border-right: 1px solid #cbcbcb;
    margin-right: -100px;
  }

  .search {
    max-width: 708px;
    width: calc(100% - 60px);
    padding: 0;
    margin: 80px auto 107px auto;
  }
  .search__button {
    margin-right: 85px;
  }
}

@media screen and (max-width: 767px) {
  .search__input {
    border-right: none;
  }
  .search__button {
    margin-right: 60px;
  }
}

@media screen and (max-width: 400px) {
  .search {
    height: 72px;
    padding: 0 14px;
    width: calc(100% - 20px);
  }

  .search__input {
    text-align: left;
    font-size: 14px;
    line-height: 1.22;
    padding-left: 0;
    margin-left: 5px;
    margin-left: 5px;
    border-right: none;
  }

  .search__icon {
    display: none;
  }

  .search__button {
    position: relative;
    left: 143px;
    background-position: -40px 0;
    width: 130px;
    margin-right: -46px;
  }

  .search__form::before {
    content: none;
  }
}
