.aboutme {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 1140px;
}

.aboutme__container {
  max-width: 1280px;
  width: 100%;
  padding: 88px 70px 100px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
}

.aboutme__title {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.23;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000;
  padding-top: 22px;
  padding-bottom: 22px;
  width: 100%;
  box-sizing: border-box;
}

.aboutme__biography-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 66px;
  gap: 50px;
  flex-shrink: 1;
}

.aboutme__biography {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.aboutme__name {
  margin: 0;
  font-size: 50px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.aboutme__age {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  margin: 18px 0 0;
}

.aboutme__text {
  margin: 26px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
}

.aboutme__contacts {
  margin: 35px 0 0;
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.aboutme__contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease;
}

.aboutme__contact-link:hover {
  opacity: 0.7;
}

.aboutme__avatar {
  width: 270px;
  min-width: 270px;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .aboutme__container {
    padding: 70px 50px 92px;
  }

  .aboutme__biography {
    max-width: 364px;
  }

  .aboutme__name {
    font-size: 40px;
    line-height: 1;
  }

  .aboutme__age {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 16px;
  }

  .aboutme__text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
  }

  .aboutme__contacts {
    margin-top: 15px;
  }

  .aboutme__avatar {
    min-width: 255px;
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 650px) {
  .aboutme__biography-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 60px;
    gap: 40px;
  }

  .aboutme__avatar {
    min-width: 292px;
    width: 292px;
  }
}

@media screen and (max-width: 400px) {
  .aboutme__container {
    padding: 43px 14px 71px;
  }

  .aboutme__title {
    font-size: 18px;
    line-height: 1.22;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .aboutme__name {
    font-size: 30px;
    line-height: 1.2;
  }

  .aboutme__age {
    font-size: 11px;
    line-height: 1.45;
    margin-top: 20px;
  }

  .aboutme__text {
    font-size: 11px;
    line-height: 1.45;
  }

  .aboutme__contacts {
    margin-top: 40px;
  }
  .aboutme__avatar {
    height: 352px;
  }
}
